In [57]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
import csv

In [31]:
url = "https://www.linkedin.com/jobs/search?keywords=Data%20Analysis&location=Los%20Angeles%2C%20California%2C%20United%20States&geoId=102448103&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"

r = requests.get(url)
soup = bs(r.text,'html.parser')
#print(soup.prettify())
#r.status_code

In [90]:
file = open('Data_analysis_jobs_1.csv','a')
writer = csv.writer(file)
writer.writerow(['Job_Title','Company_Name','Job_location','job_benefit','Job_time','Job_link'])

67

In [75]:
tags = soup.find_all("div",class_="base-search-card__info")

In [91]:
for tag in tags:
    job_title = tag.find("h3",class_="base-search-card__title").text.strip()
    #print(head)
    company_title = tag.find("h4",class_="base-search-card__subtitle").text.strip()
    #print(tail)
    job_links = tag.find("h4",class_="base-search-card__subtitle").find("a")
    job_link = job_links["href"]
    job_location = tag.find("span",class_="job-search-card__location").text.strip()
    try:
        job_benefits = tag.find("span",class_="result-benefits__text").text.strip()
    except:
        job_benefits = ""
    try:
        job_time = tag.find("time",class_="job-search-card__listdate").text.strip()
    except:
        job_time = ""
    writer.writerow([
    job_title,
    company_title,
    job_location,
    job_benefits,
    job_time,
    job_link    
    ])

print(job_title)
print(company_title)
print(job_link)
print(job_location)
print(job_benefits)
print(job_time)

Live Service Analyst, Games
Netflix
https://www.linkedin.com/company/netflix?trk=public_jobs_jserp-result_job-search-card-subtitle
Los Angeles, CA
Actively Hiring
2 weeks ago

In [92]:
file.close()

In [42]:
i=0
for he in head:
    print(he.text.strip())

Data Analyst, Marketing & Comms Strategy, Planning & Analysis
Associate, Content Analytics & Operations
Research & Data Analyst
Junior Data Analyst
Data Analyst
Associate, Marketing Business Operations
Data Analyst/Scientist Internship
Data Analyst, Performance Marketing
Senior Analyst, Advanced Analytics, Peacock
Associate, FP&A
Junior Health Analytics Data Scientist
Data Analyst
Data Analyst
Data Analyst, US Region
Business Intelligence Analyst
Business Analyst – Real Estate Data Analytics – up to $200,000 Salary + Bonus
Junior Data Strategist
Junior Data Analyst
COVID Data Analyst
Data Analyst, TikTok-US-Data Security
Data Analyst
Analytics Internship
Associate, FAN Studio FP&A
Analyst, Enterprise Analytics
Live Service Analyst, Games

In [83]:
uurl = "https://www.linkedin.com/jobs/search?keywords=project%20manager&location=india&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"

In [84]:
rr = requests.get(uurl)
soupp = bs(rr.text,'html.parser')

In [93]:
tagss = soupp.find_all("div",class_="base-search-card__info")

In [95]:
file = open('project_manager_jobs_1.csv','a')
wwriter = csv.writer(file)
wwriter.writerow(['Job_Title','Company_Name','Job_location','job_benefit','Job_time','Job_link'])

67

In [96]:
for ta in tagss:
    job_title = ta.find("h3",class_="base-search-card__title").text.strip()
    #print(head)
    company_title = ta.find("h4",class_="base-search-card__subtitle").text.strip()
    #print(tail)
    job_links = ta.find("h4",class_="base-search-card__subtitle").find("a")
    job_link = job_links["href"]
    job_location = ta.find("span",class_="job-search-card__location").text.strip()
    try:
        job_benefits = ta.find("span",class_="result-benefits__text").text.strip()
    except:
        job_benefits = ""
    try:
        job_time = ta.find("time",class_="job-search-card__listdate").text.strip()
    except:
        job_time = ""
    wwriter.writerow([
    job_title,
    company_title,
    job_location,
    job_benefits,
    job_time,
    job_link    
    ])

In [97]:
file.close()

In [116]:
file = open('Machine_learning_jobs_1.csv','a')
wwriter = csv.writer(file)
wwriter.writerow(['Job_Title','Company_Name','Job_location','job_benefit','Job_time','Job_link'])

67

In [98]:
utf= "https://www.linkedin.com/jobs/search?keywords=Machine%20Learning&location=india&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"

In [99]:
rrr = requests.get(utf)
souppp = bs(rrr.text,'html.parser')

In [100]:
tagsss = souppp.find_all("div",class_="base-search-card__info")

In [117]:
for taf in tagsss:
    job_title = taf.find("h3",class_="base-search-card__title").text.strip()
    #print(head)
    company_title = taf.find("h4",class_="base-search-card__subtitle").text.strip()
    #print(tail)
    job_links = taf.find("h4",class_="base-search-card__subtitle").find("a")
    job_link = job_links["href"]
    job_location = taf.find("span",class_="job-search-card__location").text.strip()
    try:
        job_benefits = taf.find("span",class_="result-benefits__text").text.strip()
    except:
        job_benefits = ""
    try:
        job_time = taf.find("time",class_="job-search-card__listdate").text.strip()
    except:
        job_time = ""
    wwriter.writerow([
    job_title,
    company_title,
    job_location,
    job_benefits,
    job_time,
    job_link    
    ])

In [119]:
file.close()

In [120]:
file = open('Data_Engineer_jobs_1.csv','a')
wwriter = csv.writer(file)
wwriter.writerow(['Job_Title','Company_Name','Job_location','job_benefit','Job_time','Job_link'])

67

In [113]:
utff= "https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Data%20Engineer&location=&geoId=&trk=homepage-jobseeker_jobs-search-bar_search-submit&position=1&pageNum=0&start=25"
rrrr = requests.get(utff)
so = bs(rrrr.text,'html.parser')

In [114]:
tables = so.find_all("div",class_="base-search-card__info")

In [121]:
for table in tables:
    job_title = table.find("h3",class_="base-search-card__title").text.strip()
    #print(head)
    company_title = table.find("h4",class_="base-search-card__subtitle").text.strip()
    #print(tail)
    job_links = table.find("h4",class_="base-search-card__subtitle").find("a")
    job_link = job_links["href"]
    job_location = table.find("span",class_="job-search-card__location").text.strip()
    try:
        job_benefits = table.find("span",class_="result-benefits__text").text.strip()
    except:
        job_benefits = ""
    try:
        job_time = table.find("time",class_="job-search-card__listdate").text.strip()
    except:
        job_time = ""
    wwriter.writerow([
    job_title,
    company_title,
    job_location,
    job_benefits,
    job_time,
    job_link    
    ])

In [122]:
file.close()

In [123]:
df = pd.read_csv('Data_analysis_jobs_1.csv')
df.head()

,Job_Title,Company_Name,Job_location,job_benefit,Job_time,Job_link
0,"Data Analyst, Marketing & Comms Strategy, Plan...",Netflix,"Los Angeles, CA",Actively Hiring,2 weeks ago,https://www.linkedin.com/company/netflix?trk=p...
1,"Associate, Content Analytics & Operations",Netflix,"Los Angeles, CA",Actively Hiring,2 weeks ago,https://www.linkedin.com/company/netflix?trk=p...
2,Research & Data Analyst,Hello Sunshine,"Los Angeles, CA",NaN,2 months ago,https://www.linkedin.com/company/hello-sunshin...
3,Junior Data Analyst,EDGE10 Group,"Los Angeles, CA",NaN,1 month ago,https://uk.linkedin.com/company/edge10group?tr...
4,Data Analyst,"FocusKPI, Inc.","Los Angeles, CA",NaN,2 days ago,https://www.linkedin.com/company/focuskpi?trk=...

In [129]:
unique_job_link = df[df["job_benefit"]=="Actively Hiring"]['Job_link'].unique()

In [131]:
unique_company_title = df[df["job_benefit"]=="Actively Hiring"]['Company_Name'].unique()

In [133]:
data = {
    "Comapany_Name" : unique_company_title,
    "Job_link" : unique_job_link
    
}

In [135]:
dff = pd.DataFrame(data)

In [136]:
dff

      Comapany_Name                                           Job_link
0           Netflix  https://www.linkedin.com/company/netflix?trk=p...
1            GoodRx  https://www.linkedin.com/company/goodrx?trk=pu...
2           Peacock  https://www.linkedin.com/company/peacocktv?trk...
3   1872 Consulting  https://www.linkedin.com/company/1872-consulti...
4        Hanmi Bank  https://www.linkedin.com/company/hanmi-bank?tr...
5            TikTok  https://www.linkedin.com/company/tiktok?trk=pu...
6           REVOLVE  https://www.linkedin.com/company/revolve-?trk=...
7         Saragossa  https://uk.linkedin.com/company/saragossa?trk=...
8    Open Influence  https://www.linkedin.com/company/openinfluence...
9         Cognizant  https://www.linkedin.com/company/cognizant?trk...
10       Activision  https://www.linkedin.com/company/activision?tr...
11         DoorDash  https://www.linkedin.com/company/doordash?trk=...

In [137]:
ds = df[df["job_benefit"]=="Actively Hiring"]